h1{
    padding-left: 10px;
}

.stock.quantTitle {
    font-weight: 500;
    font-size: 11px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.stock {
    color: #545454;
    font-size: 12px;
    font-weight: 300;
}

.carritoAddItems {
    width: 85px;
    display: block;
    height: 40px;
    margin: 0px auto;
}

button.buttonSumOrder {
    width: 22px;
    height: 22px;
    background-color: #868686;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: 300;
    border: none;
    border-radius: 22px;
    line-height: 1;
    margin-top: 12px;
}

element.style {
    width: 30px;
    text-align: center;
}
#cantidadCarrito {
    margin-top: 6px;
}

.carritoDetalle input {
    vertical-align: middle;
    margin: 0px 5px;
}

.textoInput {
    padding: 7px 5px 8px;
    outline: 0;
    color: #000;
    border-radius: 3px;
    box-shadow: inset 1px 2px 4px #e0e0e0;
    background-color: #f1f1f1;
    border: 0;
}
button.buttonSumOrder:hover {
    background-color: #222222;
}

th{
    color:teal;
      font-size: 1.2em !important;
}
 .precio{
      font-size: 1.5em !important;
}
td{
   
      font-size: 1.5em !important;
}