{% extends 'base\base.html' %}
{% load staticfiles %}
{% block estilo %} <link href="{% static 'css/password_reset_form.css' %}" rel="stylesheet">{% endblock %}
{% block header %}
{% endblock %}

{% block title %}
Recuperar contraseña
{% endblock %}
{% block content %}
  <div class="container">
       
      
      
     
 <form class="form-signin" method="POST">
     {% csrf_token %}
     
   <a href="{% url 'index:index' %}">  <img  src="{% static 'img/logos/dimercom-logo2.png' %}"></a>
              
<br>

<h2>Recuperar contraseña</h2>
<br>
     <div><b>Correo electrónico: </b></div>
     <div>
     <input type="text" id="inputEmail" class="form-control" placeholder="Email" name="email" required autofocus>
     </div>
     <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
</form>
       

    </div>
 {% endblock %}