{% extends 'base\base.html' %}
{% load staticfiles %}
{% block estilo %}<link href="{% static 'css/password_reset_done.css' %}" rel="stylesheet">{% endblock %}
{% block header %}
{% endblock %}

{% block title %}
Recuperar contraseña- Enviado
{% endblock %}
{% block content %}
  <div class="container">
      <form class="form-signin">
       <a href="{% url 'index:index' %}">   <img  src="{% static 'img/logos/dimercom-logo2.png' %}" ></a>
              
          <h2>Hemos enviado un correo con un enlace para reestablecer su contraseña</h2>
          </form>
   </div> 
 {% endblock %}