{% extends 'base\base.html' %}
{% load staticfiles %}
{% block estilo %} <link href="{% static 'css/password_reset_confirm.css' %}" rel="stylesheet">{% endblock %}
{% block header %}
{% endblock %}

{% block title %}
Recuperar contraseña- Confirmado
{% endblock %}
{% block content %}
{% if validlink %}
  <div class="container">
       
<form class="form-signin" method="POST">
{% csrf_token %}
   <a href="{% url 'index:index' %}"> <img  src="{% static 'img/logos/dimercom-logo2.png' %}"></a>
              
<h1>Cambio de Contraseña</h1>
    <br>
{{ form.new_pasword1.errors }}
<div><b>Nueva contraseña</b></div>
     <div>
     <input type="password" class="form-control" placeholder="nueva contraseña" name="new_password1" required autofocus>
     </div>
    <br>
    {{ form.new_password2.errors }}
    
    <div><b>Confirmar contraseña</b></div>
    <div>
        <input type="password" class="form-control" placeholder="Confirmar contraseña" name="new_password2" required autofocus>
    </div>
    <br>
    <input type="submit" class="btn btn-primary btn-md" value="Cambiar contraseña">
</form>
{% else %}
      <form class="form-signin">
      <a href="{% url 'index:index' %}">    <img  src="{% static 'img/logos/dimercom-logo2.png' %}"></a>
<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
      </form>
{% endif %}
      </div>
 {% endblock %}