{% extends 'base\base.html' %}
{% load staticfiles %}
{% block estilo %} <link href="{% static 'css/password_reset_complete.css' %}" rel="stylesheet">{% endblock %}
{% block header %}
{% endblock %}

{% block title %}
Recuperar contraseña- Completado
{% endblock %}
{% block content %}
<div class="container">
    <form class="form-signin">
      <a href="{% url 'index:index' %}">  <img  src="{% static 'img/logos/dimercom-logo2.png' %}" ></a>
<h1>Su contraseña se reestableció correctamente</h1>
<a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
        </form>
</div>
 {% endblock %}